.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
   th,td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 3px;
    font-size: 18px;
  }
  input{
    padding: 3px;
    font-size: 18px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 18px;
  }