body {
  background-color: rgb(51, 231, 231);
}

.bg h1 {
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  color: black;
  text-align: center;
}


button {
  background-color: darkblue;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 15px 22px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  height: auto;
}

.square {
  margin: 10% 45%;
  margin-top: 200px;
}

.square :hover {
  transform: scale(1.22);
}