.admNavbar {
  background-color: darkblue;
  height: 70px;
}

.admNavbar li {
  float: right;
  color: white;
  font-family: Arial, sans-serif;
  display: block;
  text-align: center;
  padding: 15px 15px;
  list-style-type: none;
  margin: 7px;
  overflow: hidden;
  background-color: darkblue;
}

.admNavbar li:hover {
  background-color: rgb(40, 189, 209);
}